*{
    margin: 0;
    padding: 0;
}



body{
    width: 100vw;
    height: 200vh;
    perspective: 2px;
    transform-style: preserve-3d;
    background-color: rgb(179, 196, 211);
    overflow-x: hidden;
    overflow-y: scroll;
}

.contenedor-1 .espacio{
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform: "preserve-3d";
}

.contenedor-1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../recursos/fondo2.jpg);
    background-size: cover;
    transform: translateZ(-1px);
}

.ranita{
    width: 20%;
    left: 50%;
    position: absolute;
}

.contenedor-1::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../recursos/honguito.png);
    background-size: cover;
    transform: translateX(10%);
}

main{
    height: 1000px !important;

}