*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(143, 183, 189);
}

nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(116, 141, 71);
    margin: auto;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2vh;
    list-style: none;
    align-items: center;
}
li{
    font-size: 4vh;
    color: rgb(250, 240, 227);
}

header{
    height: 90vh;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    position: absolute;
    width: 100%;
    bottom: 0;
}
#arboles{
    bottom: auto;
}

#kolog{
    width: 10%;
    bottom: 0;
    transition: all .1s ease-in-out;
}

.titulo{
    color: rgb(114, 63, 63);
    font-size: 10vh;

    position: absolute;
    top: 25%;
    right: 0;

    transform: translateY("-50%");

    z-index: 100;
    margin: 2vh;

    text-shadow: 5px 0px 0px 0px rgb(199, 188, 188);
    transition: right .5s ease-in-out;
}

main{
    height: 100vh;
}